{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "tabWidth": 2,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "braceStyle": "stroustrup"
}
